@charset "utf-8";
@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "inter", "Noto Sans KR", "Saira Semi Condensed", sans-serif;
  font-size: var(--xs-font-size);
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* 공통영역 */

.con {
  width: 1600px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.sec_title {
  width: fit-content;
  height: fit-content;
  font-size: var(--lg-font-size);
  font-weight: 700;
  margin-bottom: 20px;
}

.sec_title > p {
  font-size: var(--xs-font-size);
  color: var(--defalt-grey-color);
  margin-top: 10px;
  font-weight: 500;
}

/* 헤더 */
header {
  width: 100%;
  height: 74px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: bacground-color 0.5s;
  backdrop-filter: blur(20px);
}

header .con {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* 로고 */
h1 {
  width: 130px; /*추후 보고 크기 수정*/
  height: 30px;
  align-self: center;
}

h1 > a > img:last-child {
  display: none;
}

/* 메뉴 */
#gnb {
  width: fit-content;
  height: 100%;
}

#gnb > ul {
  width: fit-content;
  height: auto;
  display: flex;
  gap: 80px;
  line-height: 70px;
  text-align: center;
}

#gnb > ul > li {
  width: 100px;
  position: relative;
}

#gnb > ul > li > a {
  display: block;
  transition: 0.5s;
  font-family: "inter", sans-serif;
  font-size: var(--xs-font-size);
  font-weight: 500;
}

#gnb > ul > li:hover > a {
  color: var(--main-color);
}

/* 2차 메뉴 */
.submenu {
  width: 100%;
  height: 0px;
  line-height: 45px;
  position: absolute;
  top: 80px;
  transition: 0.5s;
  z-index: 1000;
  overflow: hidden;
}

.submenu > li {
  height: fit-content;
}

.submenu > li > a {
  display: block;
  transition: 0.5s;
}

.submenu > li:hover > a {
  color: var(--main-color);
}

#gnb:hover .submenu {
  height: 150px;
}

#gnb::after {
  content: "header-background";
  font-size: 0;
  width: 100vw;
  height: 0;
  position: absolute;
  top: 65px;
  left: 0;
  transition: 0.5s;
  background-color: #fff;
}

header:hover {
  background-color: rgba(255, 255, 255);
  transition: 0.5s;
  border-bottom: 1px solid var(--primary-grey-color);
}

#gnb:hover::after {
  height: 200px;
  border-bottom: 1px solid var(--primary-grey-color);
}

/* 아이콘 */

.icons {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.icons > a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.icons img {
  width: 100%;
  height: auto;
  align-self: center;
}

.icons > a:hover {
  color: var(--main-color);
  filter: invert(38%) sepia(44%) saturate(764%) hue-rotate(212deg)
    brightness(88%) contrast(90%);
}

.icons > a:last-child {
  display: none;
}

/* 컨텐츠 영역 */
main,
section {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* 메인비주얼 */
.main_visual {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 74px;
}

.main_visual > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 퀵 메뉴 */

.quickmenu {
  width: 100%;
  height: fit-content;
  margin-bottom: 90px;
}

.quickmenu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.quickmenu ul > li {
  width: fit-content;
  height: 92px;
  display: inline-block;
  margin-left: 10px;
}

.quickmenu ul:first-of-type {
  margin-left: 0;
}

.quickmenu ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  transition: 0.3s;
}

.quickmenu ul a img {
  width: 32px;
  height: 32px;
  padding: 12px;
  border: 1px solid var(--sub-title-color);
  border-radius: 30px;
  margin-bottom: 10px;
}

.quickmenu ul a span {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.quickmenu ul > li:hover > a {
  color: var(--main-color);
}

.quickmenu ul > li:hover > a img {
  color: var(--main-color);
  filter: invert(38%) sepia(44%) saturate(764%) hue-rotate(212deg)
    brightness(88%) contrast(90%);
}

/* 섹션1 */
.sec1 {
  width: fit-content;
  height: fit-content;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 90px;
}

.sec1_title {
  width: 1600px;
  height: 80px;
  font-size: var(--lg-font-size);
  font-weight: 700;
  margin-bottom: 20px;
}

.tab_menu > ul {
  float: left;
  margin-right: 10px;
  overflow: hidden;
}

.tab_menu li {
  width: 65px;
  height: fit-content;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.tab_menu .list li > a {
  color: var(--sub-grey-color);
  font-size: var(--md-font-size);
  font-weight: 700;
  line-height: 35px;
}

.tab_menu .list li:last-child {
  margin: 0;
}

.tab_menu .list li.is_on .btn {
  color: var(--main-color);
}

.cont_area {
  width: 1525px;
  height: 450px;
  padding-bottom: 100px;
  box-sizing: border-box;
  float: right;
  position: relative;
}

.cont {
  display: none; /* 기본적으로 모든 컨텐츠를 숨김 */
}

#tab1 {
  display: block; /* 처음에는 tab1만 보이도록 설정 */
}

.card_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.con2 {
  width: 300px;
  height: 450px;
  background-color: #f8f8f8;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  margin-left: 60px;
  box-sizing: border-box;
}

.card_wrap > .con2:first-child {
  margin-left: 0;
}

.con2 > h3 {
  font-size: var(--md-font-size);
  font-weight: 600;
  margin-bottom: 60px;
}

.con2 > img {
  width: 160px;
  height: 160px;
  margin-bottom: 60px;
}

.con2 > span {
  font-size: var(--xs-font-size);
  text-align: center;
}

/* 애니메이션 효과-sec1 */
.card1 {
  position: relative;
  animation: card1 1s ease 1 alternate forwards;
}

@keyframes card1 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.card2 {
  position: relative;
  animation: card2 2s ease 1 alternate forwards;
}

@keyframes card2 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.card3 {
  position: relative;
  animation: card3 3s ease 1 alternate forwards;
}

@keyframes card3 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* 섹션2 */

.sec2 {
  width: 1600px;
  height: fit-content;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 90px;
}

/* 팁 메뉴 */
.tipmenu ul.tips {
  width: fit-content;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 84px;
  margin-bottom: 30px;
}

.tipmenu .tips li {
  font-size: var(--xs-font-size);
  color: var(--sub-grey-color);
  cursor: pointer;
  transition: 0.3s;
}

/* 팁 메뉴 클릭시 색상 변경 */
.tipmenu .tips li.active {
  color: var(--main-color);
  font-weight: 600;
}

/* 팁 컨텐츠영역 */
.tipmenu div.tip_wrap {
  width: 1600px;
  height: 484px;
  padding: 30px 60px;
  box-sizing: border-box;
}

.tip_wrap > div {
  width: 100%;
  height: 100%;
  display: none;
}

.tip_wrap > div.active {
  width: 100%;
  height: 100%;
  display: block;
}

.tipcon {
  width: fit-content;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

/* 팁 텍스트 영역 */
.tip_txt {
  width: 580px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tip_txt > h3 {
  font-size: var(--xl-font-size);
  font-weight: 700;
}

.tip_txt > p {
  line-height: 24px;
  font-size: var(--sm-font-size);
}

.tip_txt > p > span {
  color: var(--main-color);
}

/* 팁 버튼 */
.btn_con {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 50px;
}

.btn_con > button {
  width: 147px;
  height: 58px;
  border: 1px solid var(--sub-title-color);
  border-radius: 20px;
  background-color: #fff;
  color: var(--sub-title-color);
  font-size: var(--xs-font-size);
  cursor: pointer;
  text-align: center;
  line-height: 58px;
}

.btn_con > button:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

/* 애니메이션 효과-sec2 */

.tip_txt {
  position: relative;
  animation: tiptxt 1.5s ease 1 alternate forwards;
}

@keyframes tiptxt {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
  }
}

.btn_con {
  position: relative;
  animation: btncon 2.5s ease 1 alternate forwards;
}

@keyframes btncon {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
  }
}

.tip_img {
  position: relative;
  animation: tipimg 1.5s ease 1 alternate forwards;
}

@keyframes tipimg {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
  }
}

/* 섹션3 */

.sec3 {
  width: 1600px;
  height: fit-content;
  display: block;
  margin-bottom: 180px;
  position: relative;
}

.room_wrap {
  width: 100%;
  height: 506px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.room_con {
  width: 370px;
  height: 320px;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.room_img {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  overflow: hidden;
}

.room_img > a {
  height: 200px;
}

.room_img img {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.3s;
}

.room_txt {
  width: 100%;
  height: 120px;
  padding: 10px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.tag_box {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.tag {
  width: fit-content;
  height: 28px;
  padding: 10px 8px;
  text-align: center;
  line-height: 8px;
  box-sizing: border-box;
  border: 1.5px solid var(--main-color);
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  opacity: 0.7;
}

.tag > a {
  display: block;
  font-size: 12px;
  font-weight: 500;
  justify-self: center;
  color: var(--main-color);
}

.room_txt > h3 {
  font-family: "inter", sans-serif;
  font-size: var(--xs-font-size);
}

.user_nickname {
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.user_nickname > a {
  width: 20px;
  height: 20px;
}

.user_nickname > a > img {
  display: block;
  width: 20px;
  min-width: 20px;
  height: auto;
  align-self: center;
}

.user_nickname > p > a {
  line-height: 15px;
}

.more_btn {
  width: 194px;
  height: 55px;
  position: absolute;
  right: 700px;
  bottom: -30px;
  border: 1px solid var(--sub-title-color);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.more_btn > a {
  display: block;
  border-radius: 20px;
  line-height: 55px;
  color: var(--sub-title-color);
  transition: 0.5s;
}

/* hover 효과 -sec3 */

.room_img > a:hover > img {
  transform: scale(1.1);
}

.more_btn:hover {
  bottom: -35px;
  border: 1px solid var(--main-color);
}

.more_btn:hover a {
  color: var(--main-color);
}

/* Sec4 */

.sec4 {
  width: 1600px;
  height: fit-content;
  display: block;
  margin-bottom: 180px;
  position: relative;
}

/* 룰북 메뉴 */

.rulebook ul.rules {
  width: fit-content;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.more_btn2 {
  width: 90px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 10px;
  font-family: "inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  border: 1px solid var(--main-color);
  border-radius: 20px;
}

.more_btn2 > a {
  display: block;
  color: var(--main-color);
}

.rulebook .rules li {
  font-size: var(--xs-font-size);
  color: var(--sub-grey-color);
  cursor: pointer;
  transition: 0.3s;
}

/* 룰북 장르 클릭시 색상 변경 */

.rulebook .rules li.active {
  color: var(--main-color);
  font-weight: 600;
}

/* 룰북 컨텐츠 영역 */

.rulebook div.rule_wrap {
  width: 1600px;
  height: 450px;
}

.rule_wrap > div {
  width: 100%;
  height: 100%;
  display: none;
}

.rule_wrap > div.active {
  width: 100%;
  height: 100%;
  display: block;
}

.books {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  gap: 40px;
}

.rulebook_card {
  width: 240px;
  height: 427px;
  margin-top: 10px;
  overflow: hidden;
  border: 1px solid var(--sub-title-color);
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: 0.4s;
}

.rule_img {
  width: 100%;
  height: 285px;
}

.rule_img > img {
  width: 100%;
  height: 285px;
  object-fit: cover;
}

.rule_txt {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 15px;
  box-sizing: border-box;
}

.rule_txt > span {
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.rule_txt > p {
  width: 132px;
  font-size: 13px;
  color: var(--sub-grey-color);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.rule_more {
  width: 134px;
  height: 40px;
  padding: 11px 21px;
  box-sizing: border-box;
  border: 1px solid var(--sub-title-color);
  border-radius: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.rule_more > a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
  color: var(--sub-title-color);
  transition: 0.4s;
}

/* hover 효과 - sec4 */

.rulebook_card:hover {
  border: 1px solid var(--main-color);
  top: -10px;
}

.rulebook_card .rule_more:hover {
  border: 1px solid var(--main-color);
}

.rulebook_card .rule_more:hover > a {
  color: var(--main-color);
}

/* 애니메이션 효과 - sec4 */

.book1 {
  position: relative;
  animation: book1 1s ease 1 alternate forwards;
}

@keyframes book1 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.book2 {
  position: relative;
  animation: book2 1.5s ease 1 alternate forwards;
}

@keyframes book2 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.book3 {
  position: relative;
  animation: book3 2s ease 1 alternate forwards;
}

@keyframes book3 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.book4 {
  position: relative;
  animation: book4 2.5s ease 1 alternate forwards;
}

@keyframes book4 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.book5 {
  position: relative;
  animation: book5 3s ease 1 alternate forwards;
}

@keyframes book5 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* footer */
footer {
  width: 100%;
  height: fit-content;
  padding-bottom: 20px;
  background-color: var(--main-color);
}

footer > .con {
  width: 95%;
  padding-top: 60px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

.left_wrap {
  width: 50%;
  display: block;
}

.footer_nav {
  width: 100%;
  height: fit-content;
}

.footer_nav > ul {
  display: flex;
  text-align: left;
  gap: 90px;
}

.footer_nav > ul > li > a {
  color: rgba(255, 255, 255, 0.9);
  font-size: var(--xs-font-size);
  font-weight: 400;
}
.submenu2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0 80px 0;
  gap: 8px;
}

.submenu2 a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 400;
}

.left_wrap > a {
  display: block;
  width: fit-content;
  height: fit-content;
}

.left_wrap img {
  width: 56px;
  height: 59px;
  filter: invert(93%) sepia(93%) saturate(28%) hue-rotate(58deg)
    brightness(106%) contrast(110%);
  opacity: 0.8;
  cursor: pointer;
  margin-bottom: 10px;
}

.left_wrap > p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

.right_wrap {
  width: 50%;
  display: block;
}

.search_box {
  width: 300px;
  height: 40px;
  position: relative;
  margin-bottom: 155px;
  margin-left: auto;
}

.search_box > input {
  width: 100%;
  height: 100%;
  padding: 10px 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
}

.search_box > button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search_btn > img {
  width: 24px;
  height: 24px;
}

.footer_txt {
  width: fit-content;
  margin-left: auto;
}

.footer_txt > p {
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}

.app_btn {
  display: flex;
  width: fit-content;
  gap: 8px;
  margin-left: auto;
  margin-bottom: 10px;
}

.app_btn img {
  width: 24px;
  height: 24px;
  filter: invert(93%) sepia(93%) saturate(28%) hue-rotate(58deg)
    brightness(106%) contrast(110%);
  opacity: 0.6;
}
