@charset "utf-8";
@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "inter", "Noto Sans KR", "Saira Semi Condensed", sans-serif;
  font-size: var(--xs-font-size);
  color: #000;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  height: auto;
}

/* 공통영역 */

.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}

/* 헤더 */
header {
  width: 100%;
  height: 74px;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: bacground-color 0.5s;
}

header .con {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* 로고 */
h1 {
  width: 130px; /*추후 보고 크기 수정*/
  height: 30px;
  align-self: center;
}

/* 메뉴 */
#gnb {
  width: fit-content;
  height: 100%;
}

#gnb > ul {
  width: fit-content;
  height: auto;
  display: flex;
  gap: 80px;
  line-height: 70px;
  text-align: center;
}

#gnb > ul > li {
  width: 100px;
  position: relative;
}

#gnb > ul > li > a {
  display: block;
  transition: 0.5s;
  font-family: "inter", sans-serif;
  font-size: var(--xs-font-size);
  font-weight: 500;
}

#gnb > ul > li:hover > a {
  color: var(--main-color);
}

/* 2차 메뉴 */
.submenu {
  width: 100%;
  height: 0px;
  line-height: 45px;
  position: absolute;
  top: 80px;
  transition: 0.5s;
  z-index: 1000;
  overflow: hidden;
}

.submenu > li {
  height: fit-content;
}

.submenu > li > a {
  display: block;
  transition: 0.5s;
}

.submenu > li:hover > a {
  color: var(--main-color);
}

#gnb:hover .submenu {
  height: 150px;
}

#gnb::after {
  content: "header-background";
  font-size: 0;
  width: 100vw;
  height: 0;
  position: absolute;
  top: 80px;
  left: 0;
  transition: 0.5s;
  /* background-color: #fff; */
  backdrop-filter: blur(10px); /*필터 없는 버전 고려*/
}

header:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid var(--primary-grey-color);
}

#gnb:hover::after {
  height: 200px;
  border-bottom: 1px solid var(--primary-grey-color);
}

/* 아이콘 */

.icons {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.icons > a {
  width: 48px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 2;
  transition: 0.5s;
}

.icons > a:hover {
  color: var(--main-color);
}

.icons > a:last-child {
  display: none;
}

/* 컨텐츠 영역 */
main,
section {
  width: 100%;
  height: auto;
}

/* 메인비주얼 */
.main_visual {
  width: 100%;
  height: 788px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 74px;
}

.main_visual > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 퀵 메뉴 */

.quickmenu {
  width: 100%;
  height: fit-content;
}

.quickmenu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.quickmenu ul > li {
  width: fit-content;
  height: 92px;
  display: inline-block;
  margin: 0 10px;
}

.quickmenu ul:first-of-type {
  margin-left: 0;
}

.quickmenu ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  transition: 0.3s;
}

.quickmenu ul a img {
  width: 32px;
  height: 32px;
  padding: 12px;
  border: 1px solid var(--sub-title-color);
  border-radius: 30px;
  margin-bottom: 10px;
}

.quickmenu ul a span {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.quickmenu ul > li:hover > a {
  color: var(--main-color);
}

.quickmenu ul > li:hover > a img {
  color: var(--main-color);
  filter: invert(38%) sepia(44%) saturate(764%) hue-rotate(212deg)
    brightness(88%) contrast(90%);
}
