@charset "utf-8";

/* mobile */

@media screen and (min-width: 320px) and (max-width: 768px) {
  /* 공통영역 */

  .con {
    width: 90%;
  }

  #gnb {
    display: none;
  }

  .icons > a:last-child {
    display: block;
    align-self: center;
    line-height: 75px;
  }

  .sec_title {
    width: fit-content;
    height: fit-content;
    font-size: var(--lg-font-size);
    margin-left: 30px;
    display: block;
  }

  .sec_title > p {
    display: block;
  }

  /* ------------------------------------------ */
  /* 헤더 */
  header {
    position: fixed;
    width: 100vw;
    height: 74px;
  }

  header > .con {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    width: 202vw;
  }

  h1 > a > img:first-child {
    display: none;
  }

  h1 > a > img:last-child {
    display: block;
    width: 40px;
    height: 40px;
    justify-self: center;
    align-self: center;
    filter: invert(38%) sepia(44%) saturate(764%) hue-rotate(212deg)
      brightness(88%) contrast(90%);
  }

  .icons {
    width: 8vw;
    margin-left: auto;
  }

  .icons a:nth-child(2) {
    display: none;
  }

  .icons a:nth-child(1) {
    display: none;
  }

  /* ------------------------------------------ */
  /* 메인비주얼*/

  .main_visual {
    width: 100vw;
    height: fit-content;
    margin-bottom: 20px;
  }

  .main_visual > img {
  }

  /* 퀵메뉴 */

  .quickmenu ul > li {
    margin: 0 auto;
  }

  .quickmenu ul a {
    width: 60px;
  }

  .quickmenu ul a img {
    width: 28px;
    height: 28px;
    padding: 10px;
  }

  .quickmenu ul a span {
    width: 58px;
    font-size: 15px;
    font-weight: 400;
    overflow-wrap: break-word;
  }

  /* ------------------------------------------ */
  /* 섹션1 */
  .sec1 {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 80px;
  }

  /* 섹션 타이틀 */
  .sec1_title {
    width: fit-content;
    height: fit-content;
    display: block;
    justify-self: center;
  }

  /* 탭 메뉴 */
  .tab_menu .list {
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tab_menu .list li:last-child {
    margin-bottom: 30px;
  }

  .tabmenu:last-child > div {
    width: 95vw;
  }

  .cont_area {
    width: 90%;
    margin: 0 auto;
  }

  .con2 {
    margin-left: 0;
  }

  @keyframes card1 {
  }
  @keyframes card2 {
  }
  @keyframes card3 {
  }

  /* ------------------------------------------- */
  /* 섹션2 */
  .sec2 {
    width: 100%;
    height: auto;
    overflow: visible;
    position: relative;
  }

  .tipmenu ul.tips {
    margin-left: 15px;
    gap: 10vw;
    height: 5vh;
    justify-content: left;
  }

  .tips > li {
    flex-shrink: 0;
    width: fit-content;
    text-align: left;
  }

  .tip_txt > p > br {
    display: none;
  }

  .btn_con > button {
    display: none;
  }

  .tip_wrap {
    width: 100%;
  }

  .tipcon {
    width: 100%;
  }

  /* ------------------------------------------- */
  /* 섹션3 */
  .sec3 {
    width: 100%;
    height: auto;
    position: relative;
  }

  .room_wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
  }

  .more_btn {
    position: absolute;
    top: -15px;
    left: 330px;
    border: none;
  }

  .more_btn:hover {
    border: none;
  }

  /* 섹션4 */

  .sec4 {
    width: 100%;
    height: auto;
    position: relative;
    bottom: -250px;
  }

  .rulebook ul.rules {
    gap: 20px;
  }

  .rules > li {
    width: 55px;
    text-align: center;
  }

  .rule_wrap {
    position: absolute;
    left: -70px;
  }

  .more_btn2 {
    border: none;
  }

  .more_btn2 > a {
    color: var(--sub-grey-color);
    font-size: var(--xs-font-size);
    font-weight: 400;
    transition: 0.5s;
  }

  .more_btn2 > a:hover {
    color: var(--main-color);
  }

  /* footer */
  footer {
    height: fit-content;
    position: relative;
    bottom: -650px;
    left: 0px;
  }

  footer > .con {
    height: 600px;
    padding: 50px 30px;
  }

  .footer_nav > ul {
    gap: 60px;
  }

  .left_wrap img {
    position: absolute;
    bottom: 90px;
  }

  .left_wrap > p {
    position: absolute;
    bottom: 50px;
  }

  .right_wrap {
    position: absolute;
    top: 185px;
    right: -25px;
  }

  .search_box {
    width: 430px;
    height: 50px;
  }

  .search_box > button {
    top: 3px;
  }

  .search_box > i {
    width: 32px;
    height: 32px;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
  }

  .footer_txt {
    position: absolute;
    bottom: -325px;
    left: -65px;
  }

  .footer_txt > p {
    text-align: left;
  }

  .app_btn {
    position: absolute;
    bottom: -230px;
    left: 80px;
  }
}

/* 잠시 숨기기 */
/* 
.sec3,
.sec4,
footer {
  display: none;
} */
