@charset "utf-8";

/* mobile */

@media screen and (min-width: 320px) and (max-width: 768px) {
  /* 공통영역 */

  .con {
    width: 90%;
  }

  #gnb {
    display: none;
  }

  .icons > a:last-child {
    display: block;
    align-self: center;
    line-height: 75px;
  }

  .sec_title {
    width: fit-content;
    height: fit-content;
    font-size: var(--lg-font-size);
    margin-left: 30px;
    display: block;
  }

  .sec_title > p {
    display: block;
  }

  /* 헤더 */
  header {
    position: fixed;
    width: 100vw;
    height: 74px;
  }

  header > .con {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    width: 202vw;
  }

  h1 > a > img:first-child {
    display: none;
  }

  h1 > a > img:last-child {
    display: block;
    width: 40px;
    height: 40px;
    justify-self: center;
    align-self: center;
    filter: invert(38%) sepia(44%) saturate(764%) hue-rotate(212deg)
      brightness(88%) contrast(90%);
  }

  .icons {
    width: 8vw;
    margin-left: auto;
  }

  .icons a:nth-child(2) {
    display: none;
  }

  .icons a:nth-child(1) {
    display: none;
  }

  /* 메인비주얼*/

  .main_visual {
    width: 100vw;
    height: fit-content;
    margin-bottom: 20px;
  }

  .main_visual > img {
  }

  /* 퀵메뉴 */

  .quickmenu ul > li {
    margin: 0 auto;
  }

  .quickmenu ul a {
    width: 60px;
  }

  .quickmenu ul a img {
    width: 28px;
    height: 28px;
    padding: 10px;
  }

  .quickmenu ul a span {
    width: 58px;
    font-size: 15px;
    font-weight: 400;
    overflow-wrap: break-word;
  }

  /* 섹션1 */
  .sec1 {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 80px;
  }

  /* 섹션 타이틀 */
  .sec1_title {
    width: fit-content;
    height: fit-content;
    display: block;
    justify-self: center;
  }

  /* 탭 메뉴 */
  .tabmenu ul.menu {
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tabmenu .menu li:last-child {
    margin-bottom: 30px;
  }

  .tabmenu:last-child > div {
    width: 95vw;
  }

  /* Swiper가 포함된 슬라이드 */
  .menu1.slide,
  .menu2.slide,
  .menu3.slide {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  /* .menu1 .swiper-container,
  .menu2 .swiper-container,
  .menu3 .swiper-container {
    opacity: 1;
    visibility: visible;
    height: auto;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out;
  } */

  /* 카드 랩 */
  .card_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }

  /* 개별 카드 */
  .con2 {
    width: 320px;
    max-width: 320px;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.048);
  }

  /* Swiper 설정 */
  .swiper-container {
    width: 90%;
    overflow: hidden;
  }

  /* Swiper 내부 요소 */

  .swiper-slide {
    width: 70%;
    max-width: 320px;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: scale(1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1);
    z-index: 1;
  }

  .swiper-slide.active {
    transform: translateX(-50%) scale(1.1);
    z-index: 3;
  }

  @media (max-width: 768px) {
    .swiper-slide.left {
      z-index: 1;
    }
    .swiper-slide.active {
      z-index: 10;
    }
    .swiper-slide.right.card2 {
      z-index: 7;
    }
    .swiper-slide.right.card3 {
      order: 2;
    }
  }

  .swiper-slide.left {
    transform: translateX(-120%) scale(0.95);
    z-index: 2;
  }

  .swiper-slide.right {
    transform: translateX(20%) scale(0.95);
    z-index: 1;
  }

  /* 왼쪽 카드가 중앙으로 올 때 */
  .swiper-slide.moving-left {
    transform: translateX(-50%) scale(0.9);
  }

  /* 오른쪽 카드가 중앙으로 올 때 */
  .swiper-slide.moving-right {
    transform: translateX(-50%) scale(0.9);
  }

  /* 탭이 활성화되지 않았을 때 Swiper 숨김 */
  .menu1:not(.active) .swiper-container,
  .menu2:not(.active) .swiper-container,
  .menu3:not(.active) .swiper-container {
    opacity: 0;
    visibility: hidden;
    height: 0;
    pointer-events: none;
  }

  .swiper-slide.reset {
    transform: translateX(-50%) scale(1);
    z-index: 1;
  }

  .swiper-slide.reset.left {
    transform: translateX(-120%) scale(0.95);
    z-index: 2;
  }

  .swiper-slide.reset.right {
    transform: translateX(20%) scale(0.95);
    z-index: 1;
  }

  .swiper-slide.reset.active {
    transform: translateX(-50%) scale(1);
    z-index: 3;
  }

  @keyframes card1 {
  }
  @keyframes card2 {
  }
  @keyframes card3 {
  }

  /* 섹션2 */
  .sec2 {
    width: 100%;
    height: auto;
    position: relative;
  }

  .tipmenu ul.tips {
    margin-left: 15px;
    gap: 10vw;
    height: 5vh;
    justify-content: left;
  }

  .tips > li {
    flex-shrink: 0;
    width: fit-content;
    text-align: left;
  }

  .tipmenu div.tip_wrap {
    width: fit-content;
    height: fit-content;
  }

  .tipcon {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px 60px;
    box-sizing: border-box;
    position: relative;
  }

  .tip_img {
    position: absolute;
    top: 300px;
    left: -10px;
    border: 1px solid var(--primary-grey-color);
  }

  .tip_img > img {
    width: 460px;
  }

  .tip_txt {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0px;
    padding: 20px 53px;
    border-radius: 35px;
    border: 2px solid var(--primary-grey-color);
  }

  .tip_txt > h3 {
    font-size: var(--lg-font-size);
    font-weight: 600;
  }

  .tip_txt > p {
    width: 300px;
    line-height: 24px;
    font-size: var(--xs-font-size);
    overflow-wrap: break-word;
  }

  .tip_txt > p > br {
    display: none;
  }

  .btn_con > button {
    display: none;
  }

  /* 섹션3 */
  .sec3 {
    width: 100%;
    height: auto;
    position: relative;
  }

  .room_wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
  }

  .more_btn {
    position: absolute;
    top: -15px;
    left: 330px;
    border: none;
  }

  .more_btn:hover {
    border: none;
  }

  /* 섹션4 */

  .sec4 {
    width: 100%;
    height: auto;
    position: relative;
    bottom: -250px;
  }

  .rulebook ul.rules {
    gap: 20px;
  }

  .rules > li {
    width: 55px;
    text-align: center;
  }

  .rule_wrap {
    position: absolute;
    left: -70px;
  }

  .more_btn2 {
    border: none;
  }

  .more_btn2 > a {
    color: var(--sub-grey-color);
    font-size: var(--xs-font-size);
    font-weight: 400;
    transition: 0.5s;
  }

  .more_btn2 > a:hover {
    color: var(--main-color);
  }

  /* footer */
  footer {
    height: fit-content;
    position: relative;
    bottom: -650px;
    left: 0px;
  }

  footer > .con {
    height: 600px;
    padding: 50px 30px;
  }

  .footer_nav > ul {
    gap: 60px;
  }

  .left_wrap img {
    position: absolute;
    bottom: 90px;
  }

  .left_wrap > p {
    position: absolute;
    bottom: 50px;
  }

  .right_wrap {
    position: absolute;
    top: 185px;
    right: -25px;
  }

  .search_box {
    width: 430px;
    height: 50px;
  }

  .search_box > button {
    top: 3px;
  }

  .search_box > i {
    width: 32px;
    height: 32px;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
  }

  .footer_txt {
    position: absolute;
    bottom: -325px;
    left: -65px;
  }

  .footer_txt > p {
    text-align: left;
  }

  .app_btn {
    position: absolute;
    bottom: -230px;
    left: 80px;
  }
}
